@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--almost-white);
}

button {
    font-family: inherit;
    border-style: none;
    background-color: var(--almost-white);
    cursor: pointer;
}

ul {
    list-style: none;
}

nav {
    width: 100%;
}

nav > ul {
    display: flex;
}

nav > ul > li {
    display: inline-block;
    margin-right: 35px;
}

nav > ul > li[data-dropdown] {
    margin-right: 50px;
}


nav > ul > li:last-child {
    margin-right: 0;
}

nav > ul > li:nth-child(5) {
    margin-left: auto;
}


header {
    display: flex;
    align-items: center;
    margin: 20px 0 65px 0;
    padding: 0 40px;
}

.logo {
    margin-right: 60px;
}

.menu-btn {
    font-size: 15px;
    color: var(--medium-gray);
    height: 40px;
    /* margin-right: 35px; */
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    position: relative;
}

.dropdown-btn[data-pressed="false"]::after {
    position: absolute;
    content: url(./images/icon-arrow-down.svg);
    top: 12px;
    left: calc(100% + .25rem);
}

.dropdown-btn[data-pressed="true"]::after {
    position: absolute;
    content: url(./images/icon-arrow-up.svg);
    top: 10px;
    left: calc(100% + .25rem);
}

.dropdown-menu {
    position: absolute;
    right: -10px;
    top: calc(100% + 5px);
    background-color: white;
    padding: 22px;
    font-size: 15px;
    color: var(--medium-gray);
    width: 155px;
    border-radius: 20px;
    box-shadow: -7px 8px 10px 2px rgba(34, 60, 80, 0.2);
}

.dropdown-menu[data-menu-item="Company"] {
    width: 120px;
    height: 130px;
    padding: 25px;
    right: -45px;
}

.dropdown-menu ul li {
    margin-bottom: 12px;
}

.dropdown-menu[data-menu-item="Company"] ul li {
    margin-bottom: 15px;
}

.dropdown-menu ul li:last-child {
    margin-bottom: 0;
}

.dropdown-menu ul li::before {
    margin-right: 15px;
}

.dropdown-menu ul li[data-todo]::before {
    content: url(./images/icon-todo.svg);
}

.dropdown-menu ul li[data-planning]::before {
    content: url(./images/icon-planning.svg);
} 

.dropdown-menu ul li[data-calendar]::before {
    content: url(./images/icon-calendar.svg);
} 

.dropdown-menu ul li[data-reminders]::before {
    content: url(./images/icon-reminders.svg);
}

.dropdown-btn[data-pressed="false"] + .dropdown-menu {
    display: none;
}

.dropdown-btn[data-pressed="true"] + .dropdown-menu {
    display: block;
}

.register-btn {
    height: 40px;
    width: 100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

main {
    display: flex;
    justify-content: center;
    /* margin: 0 auto 130px auto; */
    /* max-width: 1180px; */
}

.remote {
    flex: 0 1 700px;
    padding-left: 35px;
}

.remote h1 {
    font-size: 5rem;
    margin: 105px 0 45px 0;
}

.remote p {
    line-height: 1.8rem;
    color: var(--medium-gray);
    max-width: 440px;
    margin-bottom: 50px;
}

.hero-image {
    flex: 0 0 480px;
}

.hero-image  img {
    width: 480px;
    /* object-fit: contain; */
}

.learn-btn {
    width: 165px;
    height: 58px;
    color: var(--almost-white);
    background-color: var(--almost-black);
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 105px;
}

.learn-btn:hover {
    background-color: var(--almost-white);
    color: var(--almost-black);
    border-style: solid;
    border-width: 1px;
}

.clients {
    display: flex;
    flex-wrap: wrap;
}

.clients img {
    object-fit: none;
    margin-right: 35px;
}

.mobile-menu-toggler {
    display: none;
}

@media screen and (max-width:768px) {
    body {
        width: 375px;
        overflow-x: hidden;
    }
    header {
        margin: 20px auto 25px auto;
        max-width: 375px;
        padding: 0 15px;
        position: relative;
    }



    
    nav > ul {
        /* display: none; */
        position: absolute;
        top: -20px;
        right: 0;
        width: 240px;
        height: calc(100vh + 80px);
        background-color: white;
        flex-direction: column;
        justify-content: left;
        transform: translateX(100%);
        transition: all 1s ease;
    }

    nav > ul.menu-active {
        transition: all 1s ease;
        transform: translateX(0%);
    }


    .menu-btn {
        background-color: white;
        font-size: inherit;
    }

    nav > ul > li {
        margin-left: 20px;
        font-size: 16px;
        font-weight: 500;
    }

    nav > ul > li:nth-child(1) {
        margin-top: 70px;
    }

    nav > ul > li:nth-child(5) {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }

    nav > ul > li:nth-child(6) {
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }

    .register-btn {
        width: 195px;
        border-radius: 15px;
    }

    .mobile-menu-toggler {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
    }

    .mobile-menu-toggler[data-menu-opened="true"]::before {
        content: url(./images/icon-close-menu.svg);
    }

    .mobile-menu-toggler[data-menu-opened="false"]::before {
        content: url(./images/icon-menu.svg);
    }

    .dropdown-menu {
        position: static;
        width: 100%;
        box-shadow: none;
    }

    .dropdown-menu[data-menu-item="Company"] {
        width: 100%;
        height: auto;
        padding: 22px;
    }

    .dropdown-menu ul li {
        margin-bottom: 20px;
        font-size: 16px;
        display: flex;
        align-items: center;
        
    }

    .dropdown-menu ul li.with-icon::before {
        display: inline-block;
        content: "";
        background-repeat: no-repeat;
        background-size: 100%;
        width: 20px;
        height: 20px;
    }

    .dropdown-menu ul li[data-todo]::before {
        background-image: url(./images/icon-todo.svg);
        width: 18px;
        height: 23px;
    }
    
    .dropdown-menu ul li[data-planning]::before {
        background-image: url(./images/icon-planning.svg);
    } 
    
    .dropdown-menu ul li[data-calendar]::before {
        background-image: url(./images/icon-calendar.svg);
    } 
    
    .dropdown-menu ul li[data-reminders]::before {
        background-image: url(./images/icon-reminders.svg);
        width: 16px;
        height: 24px;
    } 

    main {
        flex-direction: column;
        margin: 0 auto 80px auto;
        max-width: 375px;
    }

    .hero-image {
        order: 1;
    }

    .remote {
        order: 2;
        flex: 0 0 auto;
    }

    .hero-image {
        flex: 0 0 285px;
    }

    .hero-image img {
        width: 100%;
        object-fit: cover;
    }

    .remote {
        padding: 0;
    }

    .remote > h1 {
        margin: 50px 0 20px 0;
        font-size: 2.2rem;
        text-align: center;
    }

    .remote > h1 > div {
        display: inline;
    }

    .remote > p {
        text-align: center;
        margin: 0 10px 25px 10px;
        font-size: 17px;
        line-height: 1.7rem;
    }

    .learn-btn {
        display: block;
        margin: 0 auto 45px auto;
        width: 135px;
        height: 50px;
        font-size: 17px;
        font-weight: 500;
    }

    .clients {
        flex-wrap: nowrap;
    }

    .clients > img {
        /* flex: 0 1 25%; */
        width: calc(375px / 4);
        height: 33px;
        margin-right: 0;
        /* margin-left: 15px; */
        padding: 0 10px;
        object-fit: contain;
    }
}

